.form{
    background-color: var(--clr-neutral-100);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 1rem 1rem 0.1rem var(--clr-primary-400);
    display: grid;
    gap: 2rem;
}


.inputWrapper{
    position: relative;
}
.input{
    padding: 1rem 1rem;
    border-radius: .4rem;
    border: 2px solid var(--clr-accent-900);
}

.inputError{
    border: 2px solid var(--clr-primary-400);
}

.errorIcon{
    position: absolute;
    right: .6rem;
    top: 1rem;
}
.errorText{
    color: var(--clr-primary-400);
}

.termsLink{
    color:hsl(0, 32%, 37%);
    text-decoration: none;
    font-weight:var(--fw--bold);
}