.signup__section {
  display: grid;
  gap: 6rem;
  margin-inline: auto;
  max-width: 80rem;
}

@media (min-width: 50rem) {
  .signup__section {
    grid-template-columns: 1fr 1.2fr;
  }
}

.content{
    place-self: center;
    color: var(--clr-neutral-100);
    display: grid;
    gap: 1rem;
}

.form__wrapper{
    display: grid;
    gap:1.5rem;
}

.trail__Info{
    background-color: var(--clr-accent-400);
    padding: 1.5rem 4rem;
    border-radius: 1rem;
    color: var(--clr-neutral-100);
    text-align: center;
  
}


.trail__Info span{
    font-weight: var(--fw--black);
}